body {
	margin: 0;
	font-family: cursive;
	color: black;
	background-color: steelblue;
}

.header {
	max-height: 100px;
	text-align: center;
}

h1 {
	margin: 10px; 
	padding: 0;
	font-size: 68px;
	font-style: italic;
}

.left {
	float: left;
}

.right {
	float: right;
}

.container {
	background-color: white;
}

.navbar {
	background-color: white;
	width: 70%;
	min-width: 850px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
}

.navbar p {
	margin: 0;
	padding: 3px 10px 4px 10px;
	font-weight: bold;
	display: inline-block;
}

.main-nav {
	width: 300px;
}

.main-nav.right p {
	margin-left: 50px;
}

#high-scores {
	margin: 0 auto;
	background-color: steelblue;
	color: black;
	font-weight: bold;
	width: 200px;
	height: 25px;
	margin-bottom: 60px;
	text-align: center;
}

#normal-high {
	border-bottom: 2px solid black;
}

#difficult-high {
	border-bottom: 2px solid black;
}

#high-scores p {
	margin: 0;
	padding: 0;
}

.selected {
	color: white;
	background-color: black;
}

p.level {
	width: 80px;
}

.level:hover {
	cursor: pointer;
	color: white;
	background-color: black;
}

#timer {
	font-weight: bold;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}

#time {
	text-align: right;
	min-width: 30px;
	display: inline-block;
}

#game-area {
	margin: 0 auto;
	margin-top: 40px;
	height: 700px;
	width: 90%;
	min-width: 1000px;
	max-height: 700px;
	border: 2px solid black;
	overflow: hidden;
}

.starter-square {
	margin: 160px auto;
	height: 300px;
	width: 300px;
	border-radius: 1em;
	background-color: yellow;
	color: black;
	text-align: center;
	font-size: 36px;
	overflow: hidden;
}

.shape {
	position: relative;
	margin: 0;
	padding: 0;
	border: 1px solid black;
}

.shape:hover {
	cursor: pointer;
}


.hidden {
	display: none;
}

#game-end p {
	margin: 0 0 10px 0;
}

#replay {
	position: relative;
	font-weight: bold;	
	width: 110px;
	color: blue;
	display: inline-block;
}

#replay:hover {
	cursor: pointer;
	border-bottom: 2px solid blue;
}

#begin {
	margin: 0 auto;
	/*padding-bottom: 5px;*/
	font-weight: bold;
	font-size: 36px;
	color: blue;
}

.start:hover {
	cursor: pointer;
	color: blue;
	/*width: 110px;*/
	border-bottom: 2px solid blue;
}

#instructions {
	height: 300px;
	width: 300px;
	padding: 10px;
	margin: 160px auto;
	background-color: white;
	color: black;
	text-align: center;
	border-radius: 1em;
	line-height: 2em;
}

#instructions p {
	margin-bottom: 5px;
}

h2 {
	display: inline-block;
	margin: 0;
	border-bottom: 2px solid black;
}

#hint {
	
	margin-top: 10px;
	font-size: 12px;
}

#score {
	margin-top: 10px;
}

.new-high {
	margin: 20px 0 0 0;
}

.high-hidden {
	visibility: hidden;
}

i {
	font-size: 24px;
}
